# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Chrysler Confidential\Personal\Lessons Learnt\DjangoLearnings\MyCodes\fmat_sample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
